<div class="navbar">
  <a href="/" class="navbar-brand">
    <img src="Logo Kimm.svg" alt="logo" class="logo" />
  </a>
  <a href="/">Home</a>
  <a href="/item">Item</a>
  <a href="/quiz">Quiz</a>
  <a href="/challenge">Challenge</a>
</div>
